@mixin flex($center: false, $dir: column, $wrap: true) {
    display: flex;
    flex-direction: $dir;
    align-items: center;

    @if $center {
        justify-content: center;
    } @else {
        justify-content: flex-start;
    }

    @if $wrap {
        flex-wrap: wrap;
    } @else {
        flex-wrap: nowrap;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.app {
    --app-header-height: 60px;
    --app-header-background: #ffffff;
    --app-primary-color: #1432be;
    --app-secondary-color: #757575;
    --app-background-color: #f1f1f1;

    height: 100%;
    width: 100%;
    background-color: var(--app-background-color);
    text-align: center;

    @media screen and (min-width: 800px) {
        // Desktop style
    }
    @media screen and (max-width: 799px) {
        // Small-screen style
    }
}
